@import "menu";

html {
    background-color: #CF7DFF;
}

.back {
    background-image: url(../Images/bkg-game.png);
    background-repeat:space;
    height:800px
}

.test {
    color: red;
    background-color: black;
}

.rdu-wardrobe-item {
    width: 56px;
    height: 56px;
    margin: 4px;
    display:inline-block;
}

.rdu-head-01 {
    background: url(../images/wardrobe.png);
    background-position: -127px -233px;    
}

.rdu-head-02 {
    background: url(../images/wardrobe.png);
    background-position: -1px -5px
}

.rdu-head-03 {
    background: url(../images/wardrobe.png);
    background-position: -64px -81px
}

.rdu-head-04 {
    background: url(../images/wardrobe.png);
    background-position: -127px -175px
}

.rdu-head-05 {
    background: url(../images/wardrobe.png);
    background-position: -185px -233px
}

.rdu-head-06 {
    background: url(../images/wardrobe.png);
    background-position: -185px -175px
}

.rdu-body-01 {
    background: url(../images/wardrobe.png);
    background-position: -243px -233px
}

.rdu-body-02 {
    background: url(../images/wardrobe.png);
    background-position: -243px -175px
}

.rdu-body-03 {
    background: url(../images/wardrobe.png);
    background-position: -127px -117px
}

.rdu-body-04 {
    background: url(../images/wardrobe.png);
    background-position: -185px -117px
}

.rdu-body-05 {
    background: url(../images/wardrobe.png);
    background-position: -243px -117px
}

.rdu-body-06 {
    background: url(../images/wardrobe.png);
    background-position: -122px -59px
}

.rdu-feet-01 {
    background: url(../images/wardrobe.png);
    background-position: -180px -59px
}

.rdu-feet-02 {
    background: url(../images/wardrobe.png);
    background-position: -238px -59px
}

.rdu-feet-03 {
    background: url(../images/wardrobe.png);
    background-position: -64px -23px
}

.rdu-feet-04 {
    background: url(../images/wardrobe.png);
    background-position: -122px -1px
}

.rdu-feet-05 {
    background: url(../images/wardrobe.png);
    background-position: -180px -1px
}

.rdu-feet-06 {
    background: url(../images/wardrobe.png);
    background-position: -238px -1px
}

.catalog-page{
    margin-left:auto;
    margin-right:auto;
    width:500px;
}

.items{
    width:320px;
    top:300px;
    left:50px;
    position:absolute;
    border:1px solid gray;
    background-color:#ff8ac7;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    border-radius:5px;
}

.back {
    .pony {
        position:absolute;
        left: 550px;
        top: 150px;
    }
}

.chooseItem {
    display:inline-block;
    width:350px;
    margin:10px;

    button {
        width:100%;
    }

    .pony {
       position:relative;
    }
}

.dressingRoom>button{
    position:absolute;
}


.pony {
    
    display:inline-block;
    width: 360px;
    height: 360px;
    

    div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%
    }


     .rdu-tls-legs {
        background: url(../images/tls-legs.png) no-repeat center center
    }

     .rdu-tls-body {
        background: url(../images/tls-body.png) no-repeat center center
    }

     .rdu-tls-wing {
        background: url(../images/tls-wing.png) no-repeat center center
    }

     .rdu-tls-head {
        background: url(../images/tls-head.png) no-repeat center center
    }

     .rdu-tls-horn {
        background: url(../images/tls-horn.png) no-repeat center center
    }

     .rdu-tls-hat {
        background: url(../images/tls-crown.png) no-repeat center center
    }

     .rdu-tls-ear {
        background: url(../images/tls-ear.png) no-repeat center center
    }

     .rdu-tls-hair {
        background: url(../images/tls-hair.png) no-repeat center center
    }

     .rdu-apj-legs {
        background: url(../images/apj-legs.png) no-repeat center center
    }

     .rdu-apj-body {
        background: url(../images/apj-body.png) no-repeat center center
    }

     .rdu-apj-head {
        background: url(../images/apj-head.png) no-repeat center center
    }

     .rdu-apj-ear {
        background: url(../images/apj-ear.png) no-repeat center center
    }

     .rdu-apj-hat {
        background: url(../images/apj-hat.png) no-repeat center center;
        z-index: -10
    }

     .rdu-fls-legs {
        background: url(../images/fls-legs.png) no-repeat center center
    }

     .rdu-fls-body {
        background: url(../images/fls-body.png) no-repeat center center
    }

     .rdu-fls-hair {
        background: url(../images/fls-hair.png) no-repeat center center
    }

     .rdu-fls-head {
        background: url(../images/fls-head.png) no-repeat center center
    }

     .rdu-fls-ear {
        background: url(../images/fls-ear.png) no-repeat center center
    }

     .rdu-fls-wing {
        background: url(../images/fls-wing.png) no-repeat center center
    }

     .rdu-pkp-legs {
        background: url(../images/pkp-legs.png) no-repeat center center
    }

     .rdu-pkp-body {
        background: url(../images/pkp-body.png) no-repeat center center
    }

     .rdu-pkp-head {
        background: url(../images/pkp-head.png) no-repeat center center
    }

     .rdu-pkp-ear {
        background: url(../images/pkp-ear.png) no-repeat center center
    }

     .rdu-rbd-legs {
        background: url(../images/rbd-legs.png) no-repeat center center
    }

     .rdu-rbd-body {
        background: url(../images/rbd-body.png) no-repeat center center
    }

     .rdu-rbd-head {
        background: url(../images/rbd-head.png) no-repeat center center
    }

     .rdu-rbd-ear {
        background: url(../images/rbd-ear.png) no-repeat center center
    }

     .rdu-rbd-wing {
        background: url(../images/rbd-wing.png) no-repeat center center
    }



     
.rdu-mlp-shoes-01 {
    top: 257px;
    left: 126px;
    width: 106px;
    height: 58px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -829px -88px
}

.rdu-mlp-shoes-02 {
    top: 248px;
    left: 180px;
    width: 57px;
    height: 65px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -947px -190px
}

.rdu-mlp-shoes-03 {
    top: 275px;
    left: 104px;
    width: 108px;
    height: 46px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -208px -123px
}

.rdu-mlp-shoes-04 {
    top: 265px;
    left: 110px;
    width: 136px;
    height: 53px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -564px -202px
}

.rdu-mlp-shoes-05 {
    top: 255px;
    left: 120px;
    width: 109px;
    height: 64px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -83px -11px
}

.rdu-mlp-shoes-06 {
    top: 276px;
    left: 107px;
    width: 98px;
    height: 43px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -497px -50px
}

.rdu-mlp-body-01 {
    top: 166px;
    left: 102px;
    width: 140px;
    height: 82px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -372px -134px
}

.rdu-mlp-body-02 {
    top: 157px;
    left: 85px;
    width: 113px;
    height: 105px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -514px -95px
}

.rdu-mlp-body-03 {
    top: 150px;
    left: 108px;
    width: 116px;
    height: 107px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -829px -148px
}

.rdu-mlp-body-04 {
    top: 170px;
    left: 115px;
    width: 89px;
    height: 73px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -406px -59px
}

.rdu-mlp-body-05 {
    top: 159px;
    left: 96px;
    width: 125px;
    height: 112px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -702px -143px
}

.rdu-mlp-body-06 {
    top: 166px;
    left: 97px;
    width: 107px;
    height: 85px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -194px -36px
}

.rdu-tls-head-01 {
    top: 16px;
    left: 30px;
    width: 191px;
    height: 85px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -1px -77px
}

.rdu-tls-head-01-back {
    top: 66px;
    left: 30px;
    width: 190px;
    height: 37px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -372px -218px
}

.rdu-tls-head-02 {
    top: 5px;
    left: 91px;
    width: 80px;
    height: 74px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -1px -1px
}

.rdu-tls-head-03 {
    top: 15px;
    left: 39px;
    width: 162px;
    height: 84px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -208px -171px
}

.rdu-tls-head-04 {
    top: 33px;
    left: 24px;
    width: 205px;
    height: 91px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -1px -164px
}

.rdu-tls-head-05 {
    top: 8px;
    left: 77px;
    width: 101px;
    height: 76px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -303px -45px
}

.rdu-tls-head-06 {
    top: 32px;
    left: 68px;
    width: 96px;
    height: 65px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -597px -28px
}

.rdu-pkp-head-01 {
    top: 29px;
    left: 39px;
    width: 191px;
    height: 85px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -1px -77px
}

.rdu-pkp-head-01-back {
    top: 79px;
    left: 39px;
    width: 190px;
    height: 37px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -372px -218px
}

.rdu-pkp-head-02 {
    top: 33px;
    left: 104px;
    width: 80px;
    height: 74px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -1px -1px
}

.rdu-pkp-head-03 {
    top: 32px;
    left: 45px;
    width: 162px;
    height: 84px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -208px -171px
}

.rdu-pkp-head-04 {
    top: 48px;
    left: 23px;
    width: 205px;
    height: 91px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -1px -164px
}

.rdu-pkp-head-05 {
    top: 30px;
    left: 84px;
    width: 101px;
    height: 76px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -303px -45px
}

.rdu-pkp-head-06 {
    top: 45px;
    left: 76px;
    width: 96px;
    height: 65px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -597px -28px
}

.rdu-apj-head-01 {
    top: 43px;
    left: 26px;
    width: 191px;
    height: 85px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -1px -77px
}

.rdu-apj-head-01-back {
    top: 93px;
    left: 26px;
    width: 190px;
    height: 37px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -372px -218px
}

.rdu-apj-head-02 {
    top: 16px;
    left: 93px;
    width: 80px;
    height: 74px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -1px -1px
}

.rdu-apj-head-03 {
    top: 37px;
    left: 36px;
    width: 162px;
    height: 84px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -208px -171px
}

.rdu-apj-head-04 {
    top: 44px;
    left: 17px;
    width: 205px;
    height: 91px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -1px -164px
}

.rdu-apj-head-05 {
    top: 24px;
    left: 76px;
    width: 101px;
    height: 76px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -303px -45px
}

.rdu-apj-head-06 {
    top: 47px;
    left: 71px;
    width: 96px;
    height: 65px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -597px -28px
}

.rdu-rbd-head-01 {
    top: 34px;
    left: 22px;
    width: 191px;
    height: 85px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -1px -77px
}

.rdu-rbd-head-01-back {
    top: 84px;
    left: 22px;
    width: 190px;
    height: 37px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -372px -218px
}

.rdu-rbd-head-02 {
    top: 16px;
    left: 93px;
    width: 80px;
    height: 74px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -1px -1px
}

.rdu-rbd-head-03 {
    top: 37px;
    left: 36px;
    width: 162px;
    height: 84px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -208px -171px
}

.rdu-rbd-head-04 {
    top: 44px;
    left: 17px;
    width: 205px;
    height: 91px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -1px -164px
}

.rdu-rbd-head-05 {
    top: 24px;
    left: 76px;
    width: 101px;
    height: 76px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -303px -45px
}

.rdu-rbd-head-06 {
    top: 47px;
    left: 71px;
    width: 96px;
    height: 65px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -597px -28px
}

.rdu-fls-head-01 {
    top: 34px;
    left: 22px;
    width: 191px;
    height: 85px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -1px -77px
}

.rdu-fls-head-01-back {
    top: 84px;
    left: 22px;
    width: 190px;
    height: 37px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -372px -218px
}

.rdu-fls-head-02 {
    top: 31px;
    left: 98px;
    width: 80px;
    height: 74px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -1px -1px
}

.rdu-fls-head-03 {
    top: 31px;
    left: 35px;
    width: 162px;
    height: 84px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -208px -171px
}

.rdu-fls-head-04 {
    top: 42px;
    left: 22px;
    width: 205px;
    height: 91px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -1px -164px
}

.rdu-fls-head-05 {
    top: 26px;
    left: 80px;
    width: 101px;
    height: 76px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -303px -45px
}

.rdu-fls-head-06 {
    top: 45px;
    left: 67px;
    width: 96px;
    height: 65px;
    background: url(../images/costumes.png) no-repeat;
    background-position: -597px -28px
}

}



